/* import poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --smooth-white: #ffffffcb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ebebeb;
    background-color: #181818;
}

svg {
    object-fit: cover;
    fill: white;
}

h1 {
    font-weight: 500;
    line-height: 1.2;
    font-size: 50px;
}

h2 {
    color: #181818;
    background-color: white;
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.video-text-container {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100vh;
}

.text-content {
    position: absolute;
    bottom: 15%;
    left: 10%;
}

.text-content button {
    display: flex;
}

.text-content button svg {
    margin-right: 10px;
}

.discover-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    border: solid 1px white;
    border-radius: 5px;
    padding: 10px 20px;
    transition: all 0.5s ease;
    cursor: pointer;
    margin-top: 20px;
}

.discover-button:hover {
    background-color: white;
    color: #181818;
}

.navbar-bg {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 10;
    background-color: #181818;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 1000;
}

.navbar a {
    text-decoration: none;
}

.navbar h1 {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    margin-left: 10px;
}

.navbar .logo img {
    width: 50px;
}

.navbar .logo {
    color: var(--smooth-white);
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    display: flex;
    align-items: center;
    margin: 0 10px;
    height: 50px;
    cursor: pointer;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.3s ease; 
}

.navbar ul li:hover a {
    transform: translateY(-2px);
}

.menu, .user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user p {
    margin-left: 10px;
    font-weight: 500;
}

.user img {
    width: 40px;
}

.video-container {
    width: 100%;
    height: 100vh;
    z-index: 100;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

video {    
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;    
    object-fit: cover;    
    transform: translate(-50%, -50%);
}

.model-container, .infos-container, .slider-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.infos-container {
    background-color: #dfdfdf;
    color: #181818;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
}

.card-container-full {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.card-image-container {
    width: 50%;
    position: relative;
}

.card-image-container img {
    width: 100%;
    position: relative;
}

.card-image-container svg {
    fill: rgb(224, 98, 98);
    position: absolute;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.card-image-container svg:hover {
    scale: 1.1;
}

#wheel-marker {
    top: 54%;
    left: 39.8%;
}

#battery-marker {
    top: 35%;
    left: 10.5%;
}

#weight-marker {
    top: 13%;
    left: 48%;
}

.popup {
    position: absolute;
    background-color: #ebebeb;
    z-index: 1;
    color: black;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
}

.popup::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.infos-card {
    width: 350px;
    height: 250px;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.play-card {
    text-align: center;
    width: 40%;
    height: 200px;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-card-sub {
    text-align: center;
    color: rgb(121, 118, 118);
    font-weight: 500;
}

.play-card a {
    color: #8f4ffa;
}

.sketchfab-embed-wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sketchfab-embed-wrapper iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.model-text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.model-text img {
    width: 20rem;
    margin-bottom: 20px;
    filter: invert(1);
}

.model-card {
    width: 40rem;
    margin: 10px;
}

.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #dfdfdf;
}

.comparison-slider-wrapper {
    position: relative;
    width: 100%;
    margin: 20px 0;
}

.comparison-slider {
    position: relative;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.comparison-slider > img {
    height: 100%;
    display: block;
    user-select: none;
}

.comparison-slider .overlay {
    display: none;
    position: absolute;
    width: 250px;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    box-sizing: border-box;
    color: #ddd;
    text-align: right;
}

@media screen and (min-width: var(--minTablet)) {
    .comparison-slider .overlay {
        display: block;
    }
}

.comparison-slider .resize {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.comparison-slider .resize > img {
    display: block;
}

.comparison-slider .resize .overlay {
    right: auto;
    left: 20px;
    text-align: left;
}

.comparison-slider .divider {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #181818;
    left: 50%;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    cursor: ew-resize;
    user-select: none;
}

.comparison-slider .divider:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: -9px;
    top: 50%;
    margin-top: -10px;
    background-color: #181818;
    transform: rotate(45deg);
    transition: all 0.1s ease-in-out;
}

.comparison-slider .divider:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    left: -5px;
    top: 50%;
    margin-top: -6px;
    background-color: white;
    transform: rotate(45deg);
    transition: all 0.1s ease-in-out;
}

.comparison-slider .divider.draggable:before {
    width: 30px;
    height: 30px;
    left: -14px;
    margin-top: -15px;
}

.comparison-slider .divider.draggable:after {
    width: 20px;
    height: 20px;
    left: -9px;
    margin-top: -10px;
    background-color: #ebebeb;
}

@keyframes text-animation {
    0% {
        transform: translate(-50%, -50%) rotate(-20deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(20deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-20deg);
    }
}

.arrow {
    position: absolute;
    bottom: 10%;
    left: 85%;
    animation: bounce 2s infinite;
}

.arrow svg {
    width: 6em;
    height: 6em;
    fill: var(--smooth-white);
    cursor: pointer;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.contact-container {
    background-color: white;
    width: 100%;
    color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.contact-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.contact-container div svg {
    fill: #181818;
    width: 200px;
}

.contact-container a {
    text-decoration: none;
    color: #181818;
}

.contact-container img {
    width: 20px;
    margin-right: 10px;
}


@media (max-width: 1400px) {
    body {
        font-size: 12px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 20px;
        position: relative;
        top: 30px;
        padding: 0 20px;
    }
    .model-container, .infos-container, .slider-container {
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .model-text {
        padding: 20px 0;
        width: 80%;
    }
    .model-text img {
        width: 200px;
    }
    .sketchfab-embed-wrapper {
        width: 100%;
    }
    .model-card {
        width: 80%;
    }
    .card-container {
        padding: 20px 0;
        width: 100%;
    }
    .card-image-container {
        width: 80%;
    }
    .infos-card, .play-card {
        width: 80%;
        height: auto;
        margin: 10px;
    }
    .contact-container {
        flex-direction: column;
    }
    .contact-container div {
        margin: 10px;
    }

    .arrow, .menu, .user {
        display: none;
    }
    .navbar {
        grid-template-columns: repeat(1, 1fr); 
    }

}